<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Favicons -->
    <link href="public/images/khadamatik_gorup_logo.png" rel="icon">

    <!-- Persian DateTime Picker CND -->
    <link rel="stylesheet" href="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="public/vendor/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet">
    <link href="public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="public/vendor/aos/aos.css" rel="stylesheet">
    <link href="public/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Variables CSS Files -->
    <link href="src/css/variables.css" rel="stylesheet">

    <!--  Main CSS File -->
    <link href="src/css/main.css" rel="stylesheet">

    <!-- Toastr CSS  -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <!--    <link rel="stylesheet" href="node_modules/toastr/nuget/content/content/toastr.css">-->

    <title>درخواست کارتخوان | خدماتیک</title>
</head>
<body class="pos">
<!-- ======= pos Section ======= -->
<section id="pos" class="">
    <div class="container">
        <div class="info">
            <div class="section-header">
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <div class="section-header">
                            <a href="https://khadamatik.ir/" class="logo" aria-label="Logo" title="خدماتیک ">
                                <img src="public/images/khadamatik_gorup_name_logo.png"
                                     class="site-logo skip-data-lazy attachment-full size-full" alt="خدماتیک"></a>
                        </div>
                    </div>
                    <div class="col-md-6 form-group mt-6 mt-md-5">
                        <h2>فرم درخواست کارت خوان</h2>
                    </div>
                </div>

            </div>
            <form action="" method="post" role="form" class="pos-form" id="pos-form">
                <div class="row">
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <label for="Fname"> نام <span class='text-danger'>*</span></label>
                        <input type="text" name="Fname" class="form-control" id="Fname"
                               placeholder="نام خود را وارد كنيد..." required>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <label for="lname"> نام خانوادگی <span class='text-danger'>*</span></label>
                        <input type="text" name="lname" class="form-control" id="lname"
                               placeholder="نام خانوادگی خود را وارد كنيد..." required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="father_name"> نام پدر<span class='text-danger'>*</span> </label>
                        <input type="text" name="father_name" class="form-control" id="father_name"
                               placeholder="نام پدر خود را وارد كنيد..." required>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="birth"> تاریخ تولد<span class='text-danger'>*</span> </label>
                        <input type="text" name="birth" class="form-control" id="birth"
                               placeholder="" required data-jdp>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="Ncode"> کد ملی<span class='text-danger'>*</span></label>
                        <input type="number" name="Ncode" class="form-control" id="Ncode"
                               placeholder="" required>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="series_Ncard"> سریال پشت کارت ملی </label>
                        <input type="text" name="series_Ncard" class="form-control" id="series_Ncard"
                               placeholder="" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="id_number"> شماره شناسنامه/کدثبتی<span class='text-danger'>*</span> </label>
                        <input type="number" name="id_number" class="form-control" id="id_number"
                               placeholder="" required>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="id_serial"> سریال شناسامه<span class='text-danger'>*</span> </label>
                        <input type="text" name="id_serial" class="form-control" id="id_serial"
                               placeholder="" required>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="id_series"> سری شناسنامه<span class='text-danger'>*</span> </label>
                        <input type="text" name="id_series" class="form-control" id="id_series"
                               placeholder="" required>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="registration"> صادره از/ ثبت شده در<span class='text-danger'>*</span> </label>
                        <input type="text" name="registration" class="form-control" id="registration"
                               placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <label for="state"> استان<span class='text-danger'>*</span> </label>
                        <input type="text" name="state" class="form-control" id="state"
                               placeholder="" required>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <label for="city"> شهر<span class='text-danger'>*</span> </label>
                        <input type="text" name="city" class="form-control" id="city"
                               placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 form-group mt-3 mt-md-0">
                        <label for="store_address"> نشانی فروشگاه/شرکت <span class='text-danger'>*</span></label>
                        <input type="text" name="store_address" class="form-control" id="store_address"
                               placeholder="" required>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="poscod_pos"> کد پستی محل نصب کارت خوان <span class='text-danger'>*</span></label>
                        <input type="number" name="poscod_pos" class="form-control" id="poscod_pos"
                               placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="store_phone"> تلفن فروشگاه <span class='text-danger'>*</span></label>
                        <input type="number" name="store_phone" class="form-control" id="store_phone"
                               placeholder="" required>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="business_num"> شماره پروانه کسب/شماره صنفی اجاره نامه <span class='text-danger'>*</span></label>
                        <input type="number" name="business_num" class="form-control" id="business_num"
                               placeholder="" required>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="tax_code">کد رهگیری مالیاتی <span class='text-danger'>*</span></label>
                        <input type="number" name="tax_code" class="form-control" id="tax_code"
                               placeholder="" required>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="senf"> صنف <span class='text-danger'>*</span></label>
                        <input type="text" name="senf" class="form-control" id="senf"
                               placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="storephone"> تلفن همراه <span class='text-danger'>*</span></label>
                        <input type="number" name="storephone" class="form-control" id="storephone"
                               placeholder="" required>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="substrate_type"> بستر ارتباطی <span class='text-danger'>*</span></label>
                        <select name="substrate_type" class=" form-control" id="substrate_type" required>
                            <option value="DIUALUP">DIUALUP</option>
                            <option value="GPRS">GPRS</option>
                            <option value="COMBO">COMBO</option>
                            <option value="WIFI">WIFI</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <label for="ownership_type">نوع مالکیت محل فعالیت <span class='text-danger'>*</span></label>
                        <select name="ownership_type" class=" form-control" id="ownership_type" required>
                            <option value="ملکی">ملکی</option>
                            <option value="سرقفلی">سرقفلی</option>
                            <option value="استیجاری">استیجاری</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="lease_from">مهلت اجاره نامه از تاریخ</label>
                        <input type="text" name="lease_from" class="form-control" id="lease_from"
                               placeholder=""  data-jdp>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="lease_until">مهلت اجاره نامه تا تاریخ </label>
                        <input type="text" name="lease_until" class="form-control" id="lease_until"
                               placeholder=""  data-jdp>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="identifier_fname"> نام معرف اول <span class='text-danger'>*</span></label>
                        <input type="text" name="identifier_fname" class="form-control" id="identifier_fname"
                               placeholder="" required >
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="identifier_lname"> نام خانوادگی معرف اول <span class='text-danger'>*</span></label>
                        <input type="text" name="identifier_lname" class="form-control" id="identifier_lname"
                               placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="identifier_phone">تلفن همراه معرف اول <span class='text-danger'>*</span></label>
                        <input type="number" name="identifier_phone" class="form-control" id="identifier_phone"
                               placeholder="" required>
                    </div>
                    <div class="col-md-9 form-group mt-3 mt-md-0">
                        <label for="identifier_address"> نشانی محل سکونت معرف اول </label>
                        <input type="text" name="identifier_address" class="form-control" id="identifier_address"
                               placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="ّfirst_accountNum"> شماره حساب اول <span class='text-danger'>*</span></label>
                        <input type="number" name="first_accountNum" class="form-control" id="ّfirst_accountNum"
                               placeholder="" required>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="first_bankName"> نام بانک اول <span class='text-danger'>*</span></label>
                        <select name="first_bankName" class=" form-control" id="first_bankName" required>
                            <option value="ایران زمین">ایران زمین</option>
                            <option value="آینده">آینده</option>
                            <option value="پست بانک">پست بانک</option>
                            <option value="خاورمیانه">خاورمیانه</option>
                            <option value="دی">دی</option>
                            <option value="رفاه">رفاه</option>
                            <option value=" سامان">سامان</option>
                            <option value="شهر "> شهر</option>
                            <option value=" صادرات">صادرات</option>
                            <option value="کشاورزی ">کشاورزی</option>
                            <option value=" گردشگری">گردشگری</option>
                            <option value="مسکن "> مسکن</option>
                            <option value=" ملی"> ملی</option>
                            <option value="اقتصاد نوین ">اقتصاد نوین</option>
                            <option value="پارسیان">پارسیان</option>
                            <option value="تجارت">تجارت</option>
                            <option value="توسعه تعاون">توسعه تعاون</option>
                            <option value="سپه">سپه</option>
                            <option value="سرمایه">سرمایه</option>
                            <option value="سینا">سینا</option>
                            <option value="صنعت و معدن">صنعت و معدن</option>
                            <option value="کار آفرین">کار آفرین</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <label for="first_shaba_code">شماره شبا اول <span class='text-danger'>*</span></label>
                        <input type="number" name="first_shaba_code" class="form-control" id="first_shaba_code" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="ّsecond_accountNum"> شماره حساب دوم </label>
                        <input type="number" name="secand_accountNum" class="form-control" id="ّsecond_accountNum" placeholder="" >
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="second_bankName"> نام بانک دوم </label>
                        <select name="second_bankName" class=" form-control" id="second_bankName">
                            <option value="ایران زمین">ایران زمین</option>
                            <option value="آینده">آینده</option>
                            <option value="پست بانک">پست بانک</option>
                            <option value="خاورمیانه">خاورمیانه</option>
                            <option value="دی">دی</option>
                            <option value="رفاه">رفاه</option>
                            <option value=" سامان">سامان</option>
                            <option value="شهر "> شهر</option>
                            <option value=" صادرات">صادرات</option>
                            <option value="کشاورزی ">کشاورزی</option>
                            <option value=" گردشگری">گردشگری</option>
                            <option value="مسکن "> مسکن</option>
                            <option value=" ملی"> ملی</option>
                            <option value="اقتصاد نوین ">اقتصاد نوین</option>
                            <option value="پارسیان">پارسیان</option>
                            <option value="تجارت">تجارت</option>
                            <option value="توسعه تعاون">توسعه تعاون</option>
                            <option value="سپه">سپه</option>
                            <option value="سرمایه">سرمایه</option>
                            <option value="سینا">سینا</option>
                            <option value="صنعت و معدن">صنعت و معدن</option>
                            <option value="کار آفرین">کار آفرین</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <label for="second_shaba_code">شماره شبا دوم </label>
                        <input type="number" name="second_shaba_code" class="form-control" id="second_shaba_code" placeholder="" >
                    </div>
                </div>
                <div class="col-md-12 form-group mt-3 mt-md-0">
                    <label for="paziresh">پذیرش <span class='text-danger'>*</span></label>
                    <br>
                    <label class="switch" id="paziresh">
                        <input type="checkbox" name="paziresh"  required>
                        <span class="slider round"></span>
                    </label>
                    <label class="form-check-label"> تمامی حساب های اعلامی بایدفقط به نام شخص یا اشخاص پذیرنده
                        باشد.</label>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="image_permission">جواز کسب<span class='text-danger'>*</span></label>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn ">
                                    بارگذاري فايل&hellip;
                                    <input type="file" name="image_permission" id="image_permission" required multiple>
                                </span>
                            </label>
                            <input type="text" class="form-control file-name " readonly>
                        </div>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="image_lease">اجاره نامه</label>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn ">
                                    بارگذاري فايل&hellip;
                                    <input type="file" name="image_lease" id="image_lease" multiple>
                                </span>
                            </label>
                            <input type="text" class="form-control file-name " readonly>
                        </div>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="image_owership">سند مالکیت</label>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn ">
                                    بارگذاري فايل&hellip;
                                    <input type="file" name="image_owership" id="image_owership" multiple>
                                </span>
                            </label>
                            <input type="text" class="form-control file-name " readonly>
                        </div>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="image">تصویر دو صفحه اول شناسنامه<span class='text-danger'>*</span></label>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn ">
                                    بارگذاري فايل&hellip;
                                    <input type="file" name="image" id="image" required multiple>
                                </span>
                            </label>
                            <input type="text" class="form-control file-name " readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="image_onNaCard">تصویر رو کارت ملی<span class='text-danger'>*</span></label>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn ">
                                    بارگذاري فايل&hellip;
                                    <input type="file" name="image_onNaCard" id="image_onNaCard" required multiple>
                                </span>
                            </label>
                            <input type="text" class="form-control file-name " readonly>
                        </div>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="image_BackNaCard">تصویر پشت کارت ملی<span class='text-danger'>*</span></label>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn ">
                                    بارگذاري فايل&hellip;
                                    <input type="file" name="image_BackNaCard" id="image_BackNaCard" required multiple>
                                </span>
                            </label>
                            <input type="text" class="form-control file-name " readonly>
                        </div>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="image_sign">تصویر مهر و امضا<span class='text-danger'>*</span></label>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn ">
                                    بارگذاري فايل&hellip;
                                    <input type="file" name="image_sign" id="image_sign" required multiple>
                                </span>
                            </label>
                            <input type="text" class="form-control file-name " readonly>
                        </div>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="image_sabin1">تصویر صفحه اول فرم سابین<span class='text-danger'>*</span></label>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn ">
                                    بارگذاري فايل&hellip;
                                    <input type="file" name="image_sabin1" id="image_sabin1" required multiple>
                                </span>
                            </label>
                            <input type="text" class="form-control file-name " readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group mt-3 mt-md-0">
                        <label for="image_sabin2">تصویر صفحه دوم فرم سابین<span class='text-danger'>*</span></label>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn ">
                                    بارگذاري فايل&hellip;
                                    <input type="file" name="image_sabin2" id="image_sabin2" required multiple>
                                </span>
                            </label>
                            <input type="text" class="form-control file-name " readonly>
                        </div>
                    </div>
                    <div class="col-md-3 form-group mt-3 mt-md-0"></div>
                </div>
                <br>
                <button id="submit" type="submit" class=" col-md-12 form-group"> ثبت اطلاعات</button>
            </form>

        </div>
    </div>
</section>

<!--=========== js ========== -->
<!--  jquery cdn link  -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- Persian DateTime Picker CND -->
<script type="text/javascript" src="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.js">

    <!-- Vendor JS Files -->
    <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="public/vendor/aos/aos.js"></script>
<script src="public/vendor/glightbox/js/glightbox.min.js"></script>
<script src="public/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="public/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Main JS File -->
<script src="src/js/main.js"></script>

<!-- Toastr  JS cnd -->
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<!--<script src="node_modules/toastr/nuget/content/scripts/toastr.js"></script>-->

<!--<script>-->
<!--    $('form#pos-form').submit(function(e){-->
<!--        e.preventDefault()-->
<!--        let first_name = $('input[name=Fname]').val();-->
<!--        let last_name = $('input[name=lname]').val();-->
<!--        let father_name = $('input[name=father_name]').val();-->
<!--        let birth = $('input[name=birth]').val();-->
<!--        let Ncode = $('input[name=Ncode]').val();-->
<!--        let series_Ncard = $('input[name=series_Ncard]').val();-->
<!--        let id_number = $('input[name=id_number]').val();-->
<!--        let id_serial = $('input[name=id_serial]').val();-->
<!--        let id_series = $('input[name=id_series]').val();-->
<!--        let registration = $('input[name=registration]').val();-->
<!--        let state = $('input[name=state]').val();-->
<!--        let city = $('input[name=city]').val();-->
<!--        let store_address = $('input[name=store_address]').val();-->
<!--        let poscod_pos = $('input[name=poscod_pos]').val();-->
<!--        let store_phone = $('input[name=store_phone]').val();-->
<!--        let business_num = $('input[name=business_num]').val();-->
<!--        let tax_code = $('input[name=tax_code]').val();-->
<!--        let senf = $('input[name=senf]').val();-->
<!--        let storephone = $('input[name=storephone]').val();-->
<!--        let substrate_type = $('select[name=substrate_type]').val();-->
<!--        let ownership_type = $('select[name=ownership_type]').val();-->
<!--        let lease_from = $('input[name=lease_from]').val();-->
<!--        let lease_until = $('input[name=lease_until]').val();-->
<!--        let identifier_fname = $('input[name=identifier_fname]').val();-->
<!--        let identifier_lname = $('input[name=identifier_lname]').val();-->
<!--        let identifier_phone = $('input[name=identifier_phone]').val();-->
<!--        let identifier_address = $('input[name=identifier_address]').val();-->
<!--        let first_accountNum = $('input[name=first_accountNum]').val();-->
<!--        let first_bankName = $('select[name=first_bankName]').val();-->
<!--        let first_shaba_code = $('input[name=first_shaba_code]').val();-->
<!--        let secand_accountNum = $('input[name=secand_accountNum]').val();-->
<!--        let second_bankName = $('select[name=second_bankName]').val();-->
<!--        let second_shaba_code = $('input[name=second_shaba_code]').val();-->
<!--        let paziresh = $('input[name=paziresh]').val();-->
<!--        let image_permission = $('input[name=image_permission]').val();-->
<!--        let image_lease = $('input[name=image_lease]').val();-->
<!--        let image_owership = $('input[name=image_owership]').val();-->
<!--        let image = $('input[name=image]').val();-->
<!--        let image_onNaCard = $('input[name=image_onNaCard]').val();-->
<!--        let image_BackNaCard = $('input[name=image_BackNaCard]').val();-->
<!--        let image_sign = $('input[name=image_sign]').val();-->
<!--        let image_sabin1 = $('input[name=image_sabin1]').val();-->
<!--        let image_sabin2 = $('input[name=image_sabin2]').val();-->
<!--        let url = $('form#pos-form').attr('action');-->
<!--        $.ajax({-->
<!--            type: 'POST',-->
<!--            url: url,-->
<!--            data:{-->
<!--                first_name:first_name,-->
<!--                last_name:last_name,-->
<!--                father_name:father_name,-->
<!--                birth:birth,-->
<!--                national_code:Ncode,-->
<!--                national_card_series:series_Ncard,-->
<!--                birthcertificate_number: id_number,-->
<!--                birthcertificate_serial:id_serial,-->
<!--                birthcertificate_series:id_series,-->
<!--                issued:registration,-->
<!--                state:state,-->
<!--                city:city,-->
<!--                store_address:store_address,-->
<!--                zipcode_pos:poscod_pos,-->
<!--                store_phone:store_phone,-->
<!--                business_license_number:business_num,-->
<!--                tax_code:tax_code,-->
<!--                senf:senf,-->
<!--                mobile:storephone,-->
<!--                substrate:substrate_type,-->
<!--                ownership:ownership_type,-->
<!--                leaseterm_from:lease_from,-->
<!--                leaseterm_to:lease_until,-->
<!--                introducer_name:identifier_fname,-->
<!--                introducer_lastname:identifier_lname,-->
<!--                introducer_phone:identifier_phone,-->
<!--                introducer_address:identifier_address,-->
<!--                first_account_number:first_accountNum,-->
<!--                first_bank_name:first_bankName,-->
<!--                first_shaba_number:first_shaba_code,-->
<!--                second_account_number:secand_accountNum ,-->
<!--                second_bank_name:second_bankName,-->
<!--                second_shaba_number:second_shaba_code,-->
<!--                paziresh:paziresh,-->
<!--                businesslicense:image_permission,-->
<!--                leaseterm:image_lease,-->
<!--                ownership_document:image_owership,-->
<!--                birthcertificate:image,-->
<!--                front_nationalcard:image_onNaCard,-->
<!--                back_nationalcard:image_BackNaCard,-->
<!--                signatureseal:image_sign,-->
<!--                sabin_form_first:image_sabin1,-->
<!--                sabin_form_second:image_sabin2-->
<!--            },-->
<!--            success: function (response) {-->
<!--                console.log(response)-->
<!--            }-->
<!--        })-->
<!--    })-->
<!--</script>-->
</body>
</html>